body {
    font-size: 10px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

.mockup {
    width: 500px;
}

.open-dialog-btn {
    margin: 20px 0;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.6;
}

.dialog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    z-index: 2;
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.dialog-body {
    padding: 10px;
}